<section class="container add-post">
  <h3 class="display-5">
    Create New post
  </h3>

  <form class="" method="post" action="/admin/add-post">
    <p class="fs-5 form-label my-3">
      Add a descriptive Title
    </p>
    <div class="form-floating mb-3">
      <input class="form-control" id="title" name="title" placeholder="" value="hello world">
      <label for="postTitle" id="xyz">
        Post Title
      </label>
    </div>


    <div class="form-floating">
      <input class="form-control" type="date" id="birthDate" name="birthDate" placeholder="Leave blank if not an individual">
      <label for="birthDate">Birth Date</label>
    </div>
    <p class="fs-6 fw-light">
      Leave blank if not an individual
    </p>
    <div class="form-floating">
      <input class="form-control" type="date" id="deathDate" name="deathDate" placeholder="Leave blank if not an individual">
      <label for="deathDate">Death Date</label>
    </div>
    <p class="fs-6 fw-light">
      Leave blank if not an individual
    </p>

    <div class="form-floating">
      <select name="category" class="form-control">
        <option value="Discussions">
          Discussions
        </option>
        <option value="People">
          People
        </option>
        <option value="News">
          News
        </option>
        <option value="Events">
          Events
        </option>
      </select>
    </div>

    <div class="form-floating">
      <input class="form-control" type="text" name="tags" placeholder="Separate keywords with commas">
    </div>
    <div class="input-group flex-nowrap">
      <input class="form-control" required type="url" id="imageUrl" name="imageUrl" placeholder="Image Url">
      <span class="p-3 input-group-text fa fa-clipboard" onclick="pasteText('imageUrl')"> </span>
    </div>

    <p class="fs-5 form-label my-3">
      Write the content
      <span class="fa fa-clipboard float-end" onclick="pasteText('content')"></span>
    </p>
    <div class="form-floating">
      <textarea cols="" rows="10" class="col-12" id="content" name="content" placeholder="Enter the text">
      
      </textarea>
    </div>

    <button class="btn btn-lg col-12 btn-outline-success mb-3 mt-4">Submit</button>

  </form>
</section>