<footer class="pt-5 pb-2 text-center text-secondary footer sticky-bottom bg-dark">
  <div class="container row g-3 text-start">
    <div class="col-md-4 list-group my-3">
      <a href="/" class="lead display-5 text-decoration-none text-light">
        BiographyHub<sup class="fs-6 fw-light">&reg;</sup>
      </a>
      <div class="col-md-12 px-0 my-4">
        <form class="input-group my-3" method="post" action="/subscribe">
          <input class="form-control"
          type="email" id="emailAddress" name="emailAddress" required
          placeholder="Your Email Address">
          <!-- when subscribe is clicked, a modal should appear thanking the user for subscribing  -->
          <button class="btn btn-lg btn-success" type="submit">
            Subscribe
          </button>
        </form>
        <h3 class="fs-2">Join For More enlightening updates in your inbox</h3>
      </div>
    </div>

    <div class="col-md-3 list-group my-3">
      <h3 class="fs-4">
        Categories
      </h3>
      <a href="/category/Events" class="text-secondary text-decoration-none">Events</a>
      <a href="/category/People" class="text-secondary text-decoration-none">People</a>
      <a href="/category/News" class="text-secondary text-decoration-none">News</a>
      <a href="/category/Topics" class="text-secondary text-decoration-none">Discussions</a>
    </div>

    <div class="col-md-3 list-group my-3">
      <h3 class="fs-4">
        Legal
      </h3>
      <a href="/partnerships" class="text-secondary text-decoration-none">Patnerships</a>
      <a href="/privacy-policy" class="text-secondary text-decoration-none">Privacy policy</a>
      <a href="/data-security" class="text-secondary text-decoration-none">Do not sell my data</a>
    </div>
    <div class="col-md-2 list-group my-3">
      <h3 class="fs-4">
        Advertising
      </h3>
      <a href="/advertising#pricing" class="text-secondary text-decoration-none">Pricing</a>
      <a href="/advertising#affiliate" class="text-secondary text-decoration-none">Affiliate Marketing</a>
      <a href="/sitemap" class="text-secondary text-decoration-none">SiteMap</a>
    </div>
  </div>
<hr>
<div class="footer-socials text-center mb-3 mt-5">
  <div class="d-flex mx-auto justify-content-between col-7 col-md-3">
    <a href="https://www.instagram.com/simply_sa_ad" class="fab fa-2x fa-instagram"></a>
    <a href="https://www.github.com/simplysaad" class="fab fa-2x fa-github"></a>
    <a href="https://x.com/simply_saad?s=09" class="fab fa-2x fa-twitter"></a>
    <a href="https://wa.me/+2348100389197?text=hello+from+your+biographyHub.onrender.com" class="fab fa-2x fa-whatsapp"></a>
  </div>
</div>
<div class="footer-text">
  &copy;2024 biographyHub, inc. All rights reserved
</div>

</div>
</footer>
