<div class="container">
    <div class="footer-box socials">
        <div class="big-logo footer-heading">
            <span class="text-light">Some</span><span class="text-dark">Business</span>
        </div>
        <p class="footer-text">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatum, nemo.</p>
        <div class="social-links">
            <i class="fab fa-facebook"></i>
            <i class="fab fa-instagram"></i>
            <i class="fab fa-youtube"></i>
            <i class="fab fa-twitter"></i>
        </div>
    </div>
    <div class="footer-box careers">
        <h3 class="footer-heading">Careers</h3>
        <div class="links">
            <a href="#" class="footer-link">Affiliate marketing</a>
            <a href="#" class="footer-link">Health care</a>
            <a href="#" class="footer-link">Partnerships</a>
            <a href="#" class="footer-link">Scholarships</a>
            <a href="#" class="footer-link">Corporate responsibility act</a>
        </div>
    </div>
    <div class="footer-box quick-links">
        <h3 class="footer-heading">Quick Links</h3>
        <div class="links">
            <a href="#" class="footer-link">Customer service</a>
            <a href="#" class="footer-link">Products</a>
            <a href="#" class="footer-link">Legal services</a>
            <a href="#" class="footer-link">Terms of Service</a>
            <a href="#" class="footer-link">Information policy Act.</a>
            <a href="#" class="footer-link">Privacy policy</a>
        </div>
    </div>
    <div class="footer-box newsletter">
        <form onsubmit="handleSubmitNewsletter()" class="">
            <h3 class="footer-heading">NewsLetter</h3>
            <p class="footer-text">Subscribe to our weekly NewsLetter and be the first to know when something
                lands</p>
            <input type="email" name="subscribe-email" placeholder="Enter email address..." class="subscribe-email">
            <button href="#" class="btn btn-subscribe">Subscribe</button>
        </form>
    </div>
</div>