<header class="navbar-dark header">
  <div class="container py-3">
    <div class="brand">
      <button
        class="navbar-toggler"
        data-bs-toggle="collapse"
        data-bs-target="#sideNav"
        >
        <span class="navbar-toggler-icon"></span>
      </button>
      <a href="/" class="navbar-brand text-decoration-none display-2">
        Campus mart
      </a>
    </div>
    <div class="options">
      <span class="p-2 search" id="btnSearch">
        <span class="text-decoration-none fa fa-search"></span>
        <span  class="d-none d-lg-inline text-decoration-none">Search</span>
      </span>
      <span class="p-2 user">
        <a href="/login" class="text-decoration-none fa fa-user"></a>
        <a href="/login" class="d-none d-lg-inline text-decoration-none">Account</a>
      </span>
      <span class="p-2 cart">
        <a href="/cart" class="text-decoration-none fa fa-shopping-cart"></a>
        <a href="/cart" class="d-none d-lg-inline text-decoration-none">Cart</a>
      </span>
    </div>
    <div class="mt-2 mb-0 px-2 horizontal-nav">
        <% categories.forEach(category=>{ %>
          <a href="/category/<%= category %>"class="nav-link"> <%= category %></a>
        <% }) %>
    </div>
  </div>
</header>