
     <header class="nav navbar bg-success text-light">
      <div class="container">
        <a href="/" class="navbar-brand text-light">BiographyHub</a>
        <div class="navbar-na">
          <a href="/login" class="btn btn-success" id="btnLoginPage">
            <i class="fa fa-user"></i>
            <span class="d-none d-md-inline">Login</span>
          </a>
          <button class="btn btn-success" id="btnDisplaySearch">
            <i class="fa fa-search"></i>
            <span class="d-none d-md-inline">Search</span>
          </button>
        </div>
      </div>
    </header>
    <nav class="side-nav overflow-x-scroll bg-success opacity-25">
      <div class="side-nav-container mx-auto container  d-flex">
        <a href="/category/People" class="navbar-link">
          People
        </a>
        <a href="/category/News" class="navbar-link">
          News
        </a>
        <a href="/category/Events" class="navbar-link">
          Events
        </a>
        <a href="/category/Topics" class="navbar-link">
          Discussion
        </a>
        <a href="/this-day" class="navbar-link">
          This day
        </a>
        <a href="/guess-game" class="navbar-link">
          Guess Game
        </a>
      </div>
    </nav>
