<section class="search-container container" id="searchContainer">

    <form action="/search" method="post">
      <div class="input-group my-2">
        <input class="form-control" placeholder="Search for people events and discussions" type="search" id="searchInput" name="searchTerm">
        <label class="" for="searchInput">
          
        </label>
        <button class="btn btn-search btn-warning" id="btnSearch">Search</button>
      </div>
    </form>
</section>
