<div id="account_related" class="my-4 border-bottom">
    <div class="text-heading">
        <h3 class="fs-5 fw-lighttext-capitalize p-2">Account</h3>
    </div>
    <ul class="list-unstyled d-flex flex-column gap-2 side-nav-menu">
        <li class="nav-item p-2 d-flex gap-2">
            <i class="fa fa-shopping-cart"> </i>
            <a class="nav-link" href="/account/cart">Cart</a>
        </li>
        <li class="nav-item p-2 d-flex gap-2">
            <i class="fa fa-star"> </i>
            <a class="nav-link" href="/account/wishlist">Wishlist</a>
        </li>
        <li class="nav-item p-2 d-flex gap-2">
            <i class="fa fa-box"> </i>
            <a class="nav-link" href="/account/history">Previous orders</a>
        </li>
        <li class="nav-item p-2 d-flex gap-2">
            <i class="fa fa-naira-sign"> </i>
            <a class="nav-link" href="/account/transactions">Transactions</a>
        </li>
    </ul>
</div>

<div id="categories" class="my-4 border-bottom">
    <div class="text-heading">
        <h3 class="fs-5 fw-light text-capitalize p-2">Categories</h3>
    </div>

    <% if (locals.categories) { %>

        <ul class="list-unstyled d-flex flex-column gap-2 side-nav-menu">

            <% locals.categories.forEach(category=> { %>

                <li class="nav-item p-2 d-flex gap-2">
                    <i class="fa fa-tag"> </i>
                    <a class="nav-link text-capitalize" href="/category/<%= category %>">
                        <%= category %>
                    </a>
                </li>
                <% }) %>

        </ul>

        <% } %>
</div>
<div id="miscallenous" class="my-4 border-bottom">
    <div class="text-heading">
        <h3 class="fs-5 fw-light text-capitalize p-2">
            Miscellaneous
        </h3>
    </div>
    <ul class="list-unstyled d-flex flex-column gap-2 side-nav-menu">
        <li class="nav-item p-2 d-flex gap-2">
            <i class="fa fa-link"> </i>
            <a class="nav-link" href="#">Affiliates</a>
        </li>
        <li class="nav-item p-2 d-flex gap-2">
            <i class="fa fa-newspaper"> </i>
            <a class="nav-link" href="#">Blog</a>
        </li>
        <li class="nav-item p-2 d-flex gap-2">
            <i class="fa fa-box"> </i>
            <a class="nav-link" href="#">Sell on CentralMarket</a>
        </li>
        <li class="nav-item p-2 d-flex gap-2">
            <i class="fa fa-gavel"> </i>
            <a class="nav-link" href="#">Policies</a>
        </li>
    </ul>
</div>