<!doctype html>
<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <link
            rel="stylesheet"
            href="./Public/fontawesome-free-6.7.2-web/css/all.min.css"
            type="text/css"
            media="all"
        />
        <link
            rel="stylesheet"
            href="./Public/bootstrap-5.3.3-dist/css/bootstrap.min.css"
            type="text/css"
            media="all"
        />
        <link rel="stylesheet" type="text/css" media="all" />
        <title></title>
    </head>
    <body>
        <header class="py-md-4 pb-2">
            <div
                class="nav navbar p-md-2 shadow mx-auto container position-fixe mx-md-5 flex-wrap justify-content-between navbar-light d-flex"
            >
                <div
                    class="navbar-brand order-1 justify-content-center align-items-center gap-1 d-flex flex-nowrap p-2 col-md-"
                >
                    <button
                        class="btn navbar-toggler"
                        data-bs-toggle="collapse"
                        data-bs-target="#sideNav"
                    >
                        <span class="navbar-toggler-icon"> </span>
                    </button>
                    <div class="p-auto">
                        <h1 class="text-heading fw-light fs-2">Restaurant</h1>
                    </div>
                </div>
                <div
                    class="navbar-search order-3 col-12 flex-fill order-lg-2 order-md-3 float-end mx-auto col-md-auto col-lg- float-end d-noe d-md-inline"
                >
                    <form
                        class="border d-flex overflow-hidden justify-content-between border-2 justify-content-center align-items-center rounded-pill p-1 my-2 mx-2"
                        action="/search"
                        method="post"
                    >
                        <input
                            type="search"
                            name="searchTerm"
                            id="searchTerm"
                            list="searchSuggestions"
                            placeholder="Search for anything..."
                            class="w-100 form-control px-3 py-1 bg-transparent border-0 outline-0"
                            value=""
                        />
                        <datalist id="searchSuggestions"> </datalist>
                        <!-- <label for="searchTerm"></label> -->
                        <button class="fa-solid p-2 fa-search"></button>
                    </form>
                </div>
                <div
                    class="navbar-nav order-2 flex-md-shrink-1 order-lg-3 order-md-2 d-flex justify-content-center align-items-center px-2"
                >
                    <div
                        class="nav-items d-flex gap-3 gap-md-2 justify-content-end"
                    >
                        <div class="nav-item dropdown">
                            <button
                                data-bs-toggle="dropdown"
                                aria-expanded="false"
                                id="accountDropdown"
                                type="button"
                                class="nav-link dropdown-toggle"
                            >
                                <i class="fa fa-user-circle"> </i>
                                <span class="d-none d-md-inline">
                                    Account
                                </span>
                            </button>
                            <ul
                                class="dropdown-menu position-absolute"
                                aria-labelledby="accountDropdown"
                            >
                                <li
                                    class="dropdown-item border-1 border-bottom justify-content-start align-items-center d-flex gap-2"
                                >
                                    <i class="fa fa-heart"> </i>
                                    <a href="/wishlist" class="nav-link">
                                        Wishlist
                                    </a>
                                </li>
                                <li
                                    class="dropdown-item border border-bottom justify-content-start align-items-center d-flex gap-2"
                                >
                                    <i class="fa fa-box"> </i>
                                    <a href="/order" class="nav-link">
                                        Orders
                                    </a>
                                </li>
                                <li
                                    class="dropdown-item border border-bottom justify-content-start align-items-center d-flex gap-2"
                                >
                                    <i class="fa fa-cog"> </i>
                                    <a href="/settings" class="nav-link">
                                        Settings
                                    </a>
                                </li>
                                <li
                                    class="dropdown-item border border-bottom justify-content-start align-items-center d-flex gap-2"
                                >
                                    <a href="" class="nav-link"> settings </a>
                                </li>
                                <li class="dropdown-divider"></li>
                                <li
                                    class="dropdown-item border border-bottom justify-content-start align-items-center d-flex gap-2 d-flex justify-content-start gap-2 align-items-center"
                                >
                                    <i class="fa fa-sign-out"> </i>
                                    <a href="" class="nav-link"> logout </a>
                                </li>
                            </ul>
                        </div>
                        <div class="nav-item d-lg-none">
                            <a href="#" class="nav-link" id="btnSearch">
                                <i class="fa-solid fa-search"> </i>
                                <span class="d-none d-md-inline"> Search </span>
                            </a>
                        </div>
                        <div class="nav-item">
                            <a href="#" class="nav-link">
                                <i class="fa fa-shopping-cart"> </i>
                                <span class="d-none d-md-inline"> Cart </span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <main class="container d-flex gap-3">
            <aside
                id="sideNav"
                class="side-nav mh-100 collapse overflow-scroll position-absolute border col-6 col-md-3 col-lg-2"
            ></aside>
            <main class="col-12 d-flex flex-column">
                <section id="headingSection" class="py-5">
                    <h3 class="display-3 text-center">Stationery</h3>
                </section>
                <section id="featuredSection" class="py-4">
                    <div class="heading">
                        <h6 class="fs-5 fw-light">Featured</h6>
                    </div>
                    <div class="overflow-scroll d-flex gap-2">
                        <div
                            class="single-product  my-3 p-2 col-7 col-md-4 col-lg-3 card border-0"
                        >
                            <div class="card-image position-relative">
                                <img
                                    src="./Public/IMG/image-1.jpg"
                                    alt=""
                                    class="img-fluid object-fit-cover aspect-ratio-square"
                                />
                            </div>
                            <div
                                class="card-info d-flex flex-column gap-2 py-3"
                            >
                                <div class="">
                                    <a
                                        href="/preview/<%= product._id %>"
                                        class="fs-6 text-capitalize lead semibold text-decoration-none text-capitalize lead semibold"
                                    >
                                        Lorem, ipsum dolor.
                                    </a>
                                </div>
                                <small
                                    class="vendor-info text-muted col- gap-2 d-flex justify-content-start align-items-center"
                                >
                                    <i class="fa fa-map-marker"> </i>

                                    <span class="fs- fw-light text-capitalize">
                                        simplysaad
                                    </span>
                                </small>
                                <div
                                    class="product-rating fs-6 d-flex align-items-center"
                                >
                                    <div class="rating-stars text-warning">
                                        <i class="fa fa-star"> </i>
                                        <i class="fa fa-star"> </i>
                                        <i class="fa fa-star"> </i>
                                        <i class="far fa-star"> </i>
                                        <i class="far fa-star"> </i>
                                    </div>
                                    <!-- <span class="px-2 text-muted"> 4.9 </span> -->

                                    <span class="px- text-muted"> (567) </span>
                                </div>
                                <div
                                    class="d-flex gap-2 fs-6 fw-semibold justify-content-start"
                                >
                                    <div class="old-price text-muted -emphasis">
                                        <span
                                            class="text-decoration-line-through text-danger fw-light"
                                        >
                                            $600</span
                                        >
                                    </div>
                                    <div class="price">
                                        <p class="fs-5">$600</p>
                                    </div>
                                </div>
                            </div>
                            <div class="card-action m-0 btn-group btn-group-sm">
                                <button class="btn btn-outline-dark">
                                    <i class="fas fa-shopping-cart"> </i>
                                    <span class=""> Add to cart </span>
                                </button>
                                <button class="btn btn-outline-dark">
                                    <i class="far fa-heart"> </i>
                                </button>
                            </div>
                        </div>
                    </div>
                </section>
                <section id="DealsSection" class="py-4">
                    <div class="heading">
                        <h6 class="fs-5 fw-light">Today's deals</h6>
                    </div>
                    <div class="overflow-scroll d-flex gap-2">
                        <div
                            class="single-product my-3 p-2 col-6 col-md-4 col-lg-3 card border-0"
                        >
                            <div class="card-image position-relative">
                                <img
                                    src="./Public/IMG/image-3.jpg"
                                    alt=""
                                    class="img-fluid object-fit-cover aspect-ratio-square"
                                />
                            </div>
                            <div
                                class="card-info d-flex flex-column gap-2 py-3"
                            >
                                <div class="">
                                    <a
                                        href="/preview/<%= product._id %>"
                                        class="fs-6 text-capitalize lead semibold text-decoration-none text-capitalize lead semibold"
                                    >
                                        Lorem, ipsum dolor.
                                    </a>
                                </div>
                                <div
                                    class="product-rating fs-6 d-flex align-items-center"
                                >
                                    <div class="rating-stars">
                                        <i class="fa fa-star"> </i>
                                        <i class="fa fa-star"> </i>
                                        <i class="fa fa-star"> </i>
                                        <i class="far fa-star"> </i>
                                        <i class="far fa-star"> </i>
                                    </div>

                                    <span class="px- text-muted"> (567) </span>
                                </div>
                                <div
                                    class="d-flex gap-2 fs-6 fw-semibold justify-content-start"
                                >
                                    <div class="old-price text-muted -emphasis">
                                        <span
                                            class="text-decoration-line-through text-danger fw-light"
                                        >
                                            $600</span
                                        >
                                    </div>
                                    <div class="price">
                                        <p class="fs-5">$600</p>
                                    </div>
                                </div>
                            </div>
                            <div class="card-action m-0 btn-group btn-group-sm">
                                <button class="btn btn-outline-dark">
                                    <i class="fas fa-shopping-cart"> </i>
                                    <span class=""> Add to cart </span>
                                </button>
                                <button class="btn btn-outline-dark">
                                    <i class="far fa-heart"> </i>
                                </button>
                            </div>
                        </div>
                    </div>
                </section>
                subcategories with at least 10 products
                <section class="subcategory py-4">
                    <div class="heading py-3">
                        <h6 class="fs-5 fw-light">Drawing materials</h6>
                    </div>
                    <div class="overflow-scroll d-flex gap-2">
                        <div
                            class="single-product my-3 p-2 col-6 col-md-4 col-lg-3 card border-0"
                        >
                            <div class="card-image position-relative">
                                <img
                                    src="./Public/IMG/image-4.jpg"
                                    alt=""
                                    class="img-fluid object-fit-cover aspect-ratio-square"
                                />
                            </div>
                            <div
                                class="card-info d-flex flex-column gap-2 py-3"
                            >
                                <div class="">
                                    <a
                                        href="/preview/<%= product._id %>"
                                        class="fs-6 text-capitalize lead semibold text-decoration-none text-capitalize lead semibold"
                                    >
                                        Lorem, ipsum dolor.
                                    </a>
                                </div>
                                <div
                                    class="product-rating fs-6 d-flex align-items-center"
                                >
                                    <div class="rating-stars">
                                        <i class="fa fa-star"> </i>
                                        <i class="fa fa-star"> </i>
                                        <i class="fa fa-star"> </i>
                                        <i class="far fa-star"> </i>
                                        <i class="far fa-star"> </i>
                                    </div>

                                    <span class="px- text-muted"> (567) </span>
                                </div>
                                <div
                                    class="d-flex gap-2 fs-6 fw-semibold justify-content-start"
                                >
                                    <!-- <div class="old-price text-muted -emphasis">
                                        <span
                                            class="text-decoration-line-through text-danger fw-light"
                                        >
                                            $600</span
                                        >
                                    </div> -->
                                    <div class="price">
                                        <p class="fs-5">$600</p>
                                    </div>
                                </div>
                            </div>
                            <!-- <div class="card-action m-0 btn-group btn-group-sm">
                                <button class="btn btn-outline-dark">
                                    <i class="fas fa-shopping-cart"> </i>
                                    <span class=""> Add to cart </span>
                                </button>
                                <button class="btn btn-outline-dark">
                                    <i class="far fa-heart"> </i>
                                </button>
                            </div> -->
                        </div>
                    </div>
                </section>
                <section class="subcategory py-4">
                    <div class="heading py-3">
                        <h6 class="fs-5 fw-light">Study tools</h6>
                    </div>
                    <div class="overflow-scroll d-flex gap-2">
                        <div
                            class="single-product border-0 my-3 p-2 col-6 col-md-4 col-lg-3 card"
                        >
                            <div class="card-image position-relative">
                                <img
                                    src="./Public/IMG/image-2.jpg"
                                    alt=""
                                    class="img-fluid object-fit-cover aspect-ratio-square"
                                />
                            </div>
                            <div
                                class="card-info d-flex flex-column gap-2 py-3"
                            >
                                <div class="">
                                    <a
                                        href="/preview/<%= product._id %>"
                                        class="fs-6 text-capitalize lead semibold text-decoration-none text-capitalize lead semibold"
                                    >
                                        Lorem, ipsum dolor.
                                    </a>
                                </div>
                                <div
                                    class="product-rating fs-6 d-flex align-items-center"
                                >
                                    <div class="rating-stars">
                                        <i class="fa fa-star"> </i>
                                        <i class="fa fa-star"> </i>
                                        <i class="fa fa-star"> </i>
                                        <i class="far fa-star"> </i>
                                        <i class="far fa-star"> </i>
                                    </div>

                                    <span class="px- text-muted"> (567) </span>
                                </div>
                                <div
                                    class="d-flex gap-2 fs-6 fw-semibold justify-content-start"
                                >
                                    <!-- <div class="old-price text-muted -emphasis">
                                        <span
                                            class="text-decoration-line-through text-danger fw-light"
                                        >
                                            $600</span
                                        >
                                    </div> -->
                                    <div class="price">
                                        <p class="fs-5">$600</p>
                                    </div>
                                </div>
                            </div>
                            <!-- <div class="card-action m-0 btn-group btn-group-sm">
                                <button class="btn btn-outline-dark">
                                    <i class="fas fa-shopping-cart"> </i>
                                    <span class=""> Add to cart </span>
                                </button>
                                <button class="btn btn-outline-dark">
                                    <i class="far fa-heart"> </i>
                                </button>
                            </div> -->
                        </div>
                    </div>
                </section>
            </main>
        </main>
        <script
            src="./Public/fontawesome-free-6.7.2-web/js/all.js"
            type="text/javascript"
            charset="utf-8"
        ></script>
        <script
            src="./Public/bootstrap-5.3.3-dist/js/bootstrap.bundle.js"
            type="text/javascript"
            charset="utf-8"
        ></script>
        <style type="text/css" media="all"></style>
        <script src="./Public/JS/homepage.js"></script>
    </body>
</html>
