<section
    id="main-content"
    class="mt-5 container-sm col-md-8 pe-md-4 content col-md-9 ml-sm-auto col-lg-10 px-4 py-5"
>
    <h2 class="display-5">Order confirmation ; OrderID: 2020230198039df</h2>
    <p class="fs-5">Hi Simplysaad,</p>

    <p class="fs-6">Thank you for your order, We're thrilled to confirm your order, and are excited to start processing it</p>
    <p class="fs-5 order-id">OrderID: 2020230198039df</p>
    <p class="fs-5 order-date">Order date: 23/02/2025</p>
    <p class="fs-5 order-date">Total: ₦327, 000</p>
    <table class="table">
      <div class="">Order Summary</div>
        <thead>
            <tr>
                <th>Item</th>
                <th>Quantity</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Arsenal Jersey</td>
                <td>2</td>
                <td>₦12, 000</td>
            </tr>
            <tr>
                <td>10 in one notebook</td>
                <td>1</td>
                <td>₦2, 000</td>
            </tr>
            <tr>
                <td>Iphone 12 pro</td>
                <td>1</td>
                <td>₦312, 000</td>
            </tr>
            <tr>
                <td>Delivery fees</td>
                <td></td>
                <td>₦300</td>
            </tr>
            <tr>
                <td>Processing fees</td>
                <td></td>
                <td>₦100</td>
            </tr>
            <tr>
                <td>Total</td>
                <td></td>
                <td>₦327, 000</td>
            </tr>
        </tbody>
    </table>
    
    <div class=" my-4">
      <a
        href="https://centralmarket.onrender.com/vendor/orders"
        class="fs-5 btn btn-success my-3"
        >View Order</a
    >

    <p class="fs-6">or click the link below to track your order</p>
    <a
        href="https://centralmarket.onrender.com/orders"
        class="fs-6 text-primary text-underline"
        >https://centralmarket.onrender.com/orders</a
    >
    </div>
    <div class="shippingDetails">
      <h6 class="fs-5">Shipping Details</h6>
      <p class="fs-6">Estimated Delivery Date: 3-5 business days </p>
      <p class="fs-6">Shipping Address: Block 3 room 207, Awolowo hall, obafemi Awolowo University, ile ife </p>
    </div>
    <div class="paymentDetails">
      <h6 class="fs-5">Payment Details</h6>
      <p class="fs-6">Payment Method: Card</p>
      <p class="fs-6">Payment Status: Confirmed</p>
    </div>
    <p class="fs-6">
      If you uave any questions or concerns about your order, kindly reach out to us at
      <a href="mailto:centralmarket25@gmail.com" class="text-primary"> centralmarket25@gmail.com </a> or 
      <a href="tel:+234(0)9076147178" class="text-primary"> +234(0)9076147178 </a> 
      we're always here to help
      <a
            href="https://centralmarket.onrender.com/"
            class="text-primary"
        >
        </a>
    </p>
    <p class="fs-6">
      Thank you again for your order, we apprwciate your business and look forward to serving you in the future
    </p>
    <p class="fs-6">
      Best regards
    </p>
    <p class="fs-6">
      CentralMarket Team
    </p>
    <a href="https://centralmarket.onrender.com/about" class="d-block fs-6">
      CentralMarket
    </a>
</section>