<section
    id="main-content"
    class="mt-5 container-sm col-md-8 pe-md-4 content col-md-9 ml-sm-auto col-lg-10 px-4 py-5"
>
    <h2 class="display-5">New Message from John Doe</h2>
    <p class="fs-5">Hi Simplysaad,</p>

    <p class="fs-6">
        You have received a new message from John Doe on Central
        Market.
    </p>
    <p class="fs-5">Message Details</p>

    <div class=""><span>Sender:</span> John Doe</div>
    <div class="">
        <span class="d-none">Message: </span> lorem Timestamp got
        btn btn fs-5 got reset password text-primary uk messages
    </div>
    <div class="text-secondary">
        <span class="d-none">Timestamp: </span> 3, Feb 2025; 23:38
        UTC +01:00
    </div>
    <a
        href="https://centralmarket.onrender.com/vendor/store#messages"
        class="fs-5 btn btn-success my-3"
        >View messages</a
    >
</section>