<section
    id="main-content"
    class="mt-5 container-sm col-md-8 pe-md-4 content col-md-9 ml-sm-auto col-lg-10 px-4 py-5"
>
    <h2 class="display-5">New Order for Arsenal Jersey</h2>
    <p class="fs-5">Hi Simplysaad,</p>

    <p class="fs-6">An order was placed for Arsenal Jersey</p>
    <ul class="">
        <li>OrderID: 2020230198039df</li>
        <li>CustomerID: 2020374898039ak</li>
        <li>Color: default</li>
        <li>Size: default</li>
    </ul>
    <p class="fs-6">
        Kindly bring the aforementioned product before 9:15 tomorrow
        (i.e 24 hours from now)
    </p>
    <a
        href="https://centralmarket.onrender.com/vendor/orders"
        class="fs-5 btn btn-success my-3"
        >View Order</a
    >

    <p class="fs-6">or click the link below to reset password</p>
    <a
        href="https://centralmarket.onrender.com/vendor/orders"
        class="fs-6 text-primary text-underline"
        >https://centralmarket.onrender.com/vendor/orders</a
    >
    <p class="fs-6 my-4">lorem30</p>
</section>