<section
    id="main-content"
    class="mt-5 container-sm col-md-8 pe-md-4 content col-md-9 ml-sm-auto col-lg-10 px-4 py-5"
>
    <h2 class="display-5">Reset Password</h2>
    <p class="fs-5">Hi Simplysaad,</p>

    <p class="fs-6">
        We got a request suggesting that you want to change your
        password
    </p>
    <a
        href="https://centralmarket.onrender.com/auth/reset-password"
        class="fs-5 btn btn-success my-3"
        >Reset Password</a
    >

    <p class="fs-6">or click the link to reset password</p>
    <a
        href="https://centralmarket.onrender.com/auth/reset-password"
        class="fs-6 text-primary text-underline"
        >https://centralmarket.onrender.com/auth/reset-password</a
    >
    <p class="fs-6 my-4">lorem30</p>
</section>