
 <form
  id="filterForm"
  class=""
> 
  <!-- Category Filters -->
  <div class="filter-category my-3">
      <h4>Category</h4>
      <div>
          <div class="form-check">
              <input
                  type="checkbox"
                  id="electronics"
                  name="category"
                  class="form-check-input"
                  value="electronics"
              />
              <label
                  class="form-check-label"
                  for="electronics"
                  >Electronics</label
              >
          </div>
          <div class="form-check">
              <input
                  type="checkbox"
                  id="books"
                  class="form-check-input"
                  name="category"
                  value="books"
              />
              <label class="form-check-label" for="books"
                  >Books</label
              >
          </div>
          <!-- Add more categories as needed -->
      </div>
  </div>

  <!-- Price Filters -->
  <div class="filter-price d-flex flex-wrap row-gap-2">
      <h4>Price</h4>
      <select
          id="price-range"
          name="price-range "
          class="form-select col-12"
      >
          <option value="">Any Price</option>
          <option value="0-10">$0 - $5000</option>
          <option value="10-50">$5000-$20000</option>
          <option value="50-100">$20000 and above</option>
          <!-- Add more price ranges as needed -->
      </select>

      <div class="form-floating col-6">
          <input
              type="number"
              id="min-price"
              name="min-price"
              class="form-control col-6"
              placeholder="Min Price"
          />
          <label for="min-price" class="form-label"
              >Min price</label
          >
      </div>
      <div class="form-floating col-6">
          <input
              type="number"
              id="max-price"
              name="max-price"
              class="form-control col-6"
              placeholder="Max Price"
          />
          <label for="max-price" class="form-label"
              >max price</label
          >
      </div>
  </div>

  <!-- Rating filter -->
  <div class="filter-rating my-3">
      <h4>Rating</h4>
      <div class="form-check">
          <input
              type="radio"
              id="filter-radio-1"
              name="filter-radio"
              class="form-check-input"
          />
          <label
              for="filter-radio-1"
              class="form-check-label"
          >
              <i class="fa fa-star"> </i>
              <i class="fa fa-star"> </i>
              <i class="fa fa-star"> </i>
              <i class="fa fa-star"> </i>
              <i class="fa fa-star"> </i>
          </label>
      </div>
      <div class="form-check">
          <input
              type="radio"
              id="filter-radio-2"
              name="filter-radio"
              class="form-check-input"
          />
          <label
              for="filter-radio-2"
              class="form-check-label"
          >
              <i class="fa fa-star"> </i>
              <i class="fa fa-star"> </i>
              <i class="fa fa-star"> </i>
              <i class="fa fa-star"> </i>
              <i class="far fa-star"> </i>
          </label>
      </div>
      <div class="form-check">
          <input
              type="radio"
              id="filter-radio-3"
              name="filter-radio"
              class="form-check-input"
          />
          <label
              for="filter-radio-3"
              class="form-check-label"
          >
              <i class="fa fa-star"> </i>
              <i class="fa fa-star"> </i>
              <i class="fa fa-star"> </i>
              <i class="far fa-star"> </i>
              <i class="far fa-star"> </i>
          </label>
      </div>
      <div class="form-check">
          <input
              type="radio"
              id="filter-radio-4"
              name="filter-radio"
              class="form-check-input"
          />
          <label
              for="filter-radio-4"
              class="form-check-label"
          >
              <i class="fa fa-star"> </i>
              <i class="fa fa-star"> </i>
              <i class="far fa-star"> </i>
              <i class="far fa-star"> </i>
              <i class="far fa-star"> </i>
          </label>
      </div>
      <div class="form-check">
          <input
              type="radio"
              id="filter-radio-5"
              name="filter-radio"
              class="form-check-input"
          />
          <label
              for="filter-radio-5"
              class="form-check-label"
          >
              <i class="fa fa-star"> </i>
              <i class="far fa-star"> </i>
              <i class="far fa-star"> </i>
              <i class="far fa-star"> </i>
              <i class="far fa-star"> </i>
          </label>
      </div>
  </div>
  <div class="filter-rating my-3">
      <h4>Rating</h4>
      <div class="form-check">
          <input
              type="radio"
              id="filter-radio-1"
              name="filter-radio"
              class="form-check-input"
          />
          <label
              for="filter-radio-1"
              class="form-check-label"
          >
              more than 5 star
          </label>
      </div>
      <div class="form-check">
          <input
              type="radio"
              id="filter-radio-2"
              name="filter-radio"
              class="form-check-input"
          />
          <label
              for="filter-radio-2"
              class="form-check-label"
          >
              4 star
          </label>
      </div>
      <div class="form-check">
          <input
              type="radio"
              id="filter-radio-3"
              name="filter-radio"
              class="form-check-input"
          />
          <label
              for="filter-radio-3"
              class="form-check-label"
          >
              Less than 3 star
          </label>
      </div>
  </div>

  <!-- Location Filters -->
  <div class="filter-location my-3">
      <h4>Location</h4>
      <select
          id="campus-location"
          class="form-select"
          name="campus-location"
      >
          <option value="">Any Location</option>
          <option value="main-campus">Main Campus</option>
          <option value="off-campus">Off Campus</option>
          <!-- Add more locations as needed -->
      </select>
  </div>

  <!-- Condition Filters -->
  <div class="filter-condition my-3">
      <h4>Condition</h4>
      <div class="form-">
          <div class="form-check">
              <input
                  type="checkbox"
                  id="new"
                  name="condition"
                  value="new"
                  class="form-check-input"
              />
              <label class="form-check-label" for="new"
                  >New</label
              >
          </div>
          <div class="form-check">
              <input
                  type="checkbox"
                  id="used"
                  name="condition"
                  value="used"
                  class="form-check-input"
              />
              <label class="form-check-label" for="used"
                  >Used</label
              >
          </div>
          <!-- Add more conditions as needed -->
      </div>
  </div>

  <!-- Sorting Options -->
  <div class="filter-sorting my-3">
      <h4>Sort By</h4>
      <select class="form-select" id="sort-by" name="sort-by">
          <option value="price-low-high">
              Price (Low to High)
          </option>
          <option value="price-high-low">
              Price (High to Low)
          </option>
          <option value="newest">Newest</option>
          <option value="relevance">Relevance</option>
      </select>
  </div>
</form>