<section id="filterForm" class="d-flex gap-2">

    <a href="/search?searchTerm=<%= searchTerm %>" class="btn btn-outline-dark rounded-pill">
        All
    </a>
    <a href="/search?searchTerm=<%= searchTerm %>&filter=products" class="btn btn-outline-dark rounded-pill">
        Products
    </a>
    <a href="/search?searchTerm=<%= searchTerm %>&filter=services" class="btn btn-outline-dark rounded-pill">
        Services
    </a>
</section>

<script>
    let anchorTags = document.querySelectorAll("a")
    let isCurrentUrl = tag.href === window.location.href
    anchorTags.forEach((tag, index) => {
        tag.classList.toggle("border", isCurrentUrl)
        // if (isCurrentUrl) {
        //     tag.classList.replace("btn-outline-dark", "btn-dark")
        //     tag.ariaDisabled = true
        //     tag.href = '#'
        // }
    })
</script>