/* LAYOUT STYLE */
#searchTerm:focus {
    border: none;
    outline: none;
}
.nav-item.d-flex {
    justify-content: start;
    align-items: center;
}
@media all and (max-width: 600px) {
    .side-nav {
        position: absolute;
        z-index: 10;
        background: #f8f8f8dd;
    }
}
@media all and (min-width: 600px) {
    .side-nav {
        position: relative;
    }
}

/* UTILS STYLES */
.text-overflow-ellipsis {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.form-check:has(.checkbox:checked) {
    border: 1.35px solid;
    background: #c1f1c1;
    /* background-blend-mode: multiply; */
    scale: 1.1;
    transition: all 1s ease-in;
}

/* ADD PRODUCT PAGE */
#profileImageCont {
    height: 120px;
    width: 120px;
    padding: 2px;
    background: #696969dd;
    border-radius:;
    display: flex;
    justify-content: center;
    align-items: center;
}
.input-desc {
    resize: vertical;
    transition: height 0.2s ease-in;
}
.tag-input input:focus {
    border: none;
    outline: none;
}
.btn:disabled {
    border: green 2px solid ;
    scale: 2;
}
