* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: none;
    scrollbar-width: none;
}
ba {
    color: inherit;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}

main {
    background-color: inherit;
}
nav {
    position: fixed;
    top: 0;
    left: 0;
    background-color: inherit;
    height: 100vh;
    opacity: 1;
    overflow: scroll;
    z-index: 3;
}

.form-check:has(.checkbox:checked) {
    border: 1.35px solid;
    background: #c1f1c1;
    scale: 1.1;
    transition: all 1s ease-in;
}
