:root{
    --text-light-nav: #e9f8e2;
    --text-light: #f9f8f2;
    --bg-medium: #23ec8c;
}
.horizontal-nav {
    overflow-x: scroll;
    margin: 0 auto;
    background: var(--bg-medium);
}
.horizontal-nav-container{
  display: none;
}
.horizontal-nav-container .navbar-link {
    text-decoration: none;
    padding: 10px 16px;
    color: var(--text-light-nav);
}
.text-large{
  font-size: 10rem;
}
.product-rating{
  font-size: .8rem;
}
.card-text{
  font-size: 1.1rem;
}
.card-title{
  font-size: .9rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.card-text.price{
}
.row.g-2{
  gap: auto
}

.category-heading{
  background: var();
  display: flex;
  align-items: center ;
  justify-content: space-between;
  text-transform: capitalize;
}
.category-heading a{
  text-decoration: none;
  color: var(--dark);
}
.category-body{
  overflow-x: scroll;
  display: flex;
  gap: 10px;
  padding-left: 10px;
}
.product-card-small{
  
}
.product-card-small .card-text.price{  
  font-size: 1.2rem;
}
.product-card-small .img-square{
  
}
