<div class="container">
    <div class="error-icon">🚚</div>
    <h1>502 - Delivery Truck Broke Down</h1>
    <p>Our servers are taking an unexpected coffee break! Don't worry, our maintenance crew is already on the way to get things moving again.</p>
    <button class="home-btn" onclick="window.location.href='/'">Refresh Marketplace</button>
</div>