<form id="issueForm" class="mx-auto col-lg-6 border p-3">
  <div class="text-heading text-center my-5">
    <h1 class="display-4 fw-bold ">Customer Feedback</h1>
    <p class="text-muted">We value your feedback</p>
  </div>
  
  <div class="form-">
    <label class="text-muted" for="title">Title</label>
    <input required class="form-control" id="title" name="title">
  </div>
  <div class="form-">
    <label class="text-muted" for="description">Description</label>
    <textarea required class="form-control" id="description" name="description"></textarea>
  </div>
  <button class="btn btn-lg my-5 col-12 col-lg-6 btn-outline-success">Submit</button>
</form>

<div id="appreciate" class="mx-auto col-lg-6 text-center">
  
  <div class="message">
    <h3 class="display-4 text-center fw-bold my-4">Thank you for your Feedback!</h3>
    <p class="fs-5 my-3">We really appreciate the time you took to share your thougts with us, your feedback is
      invaluable in helpuling us improve our services</p>
    <p class="fs-6 my-3">We shall review your feedback carefully and use it to make positive changes, if yoy have
      further question or concerns do not hesitate to contact us</p>
  </div>
  <a class="border-success border my-5 rounded rounded-pill btn-outline-success btn" href="/">Return to
    CentralMarket</a>
</div>